

body {
	font-family: Helvetica;
	background-color: #D3F6F5;
}

h{
  color: navy;
  font-size: 45px;
  border-style: double;
	padding: 20px;
}

h1{
	color: black;
	font-size: 30px;
	border-style: dashed;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

h2{
	color: DimGray;
	font-size: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
}

p{
	color: DimGray;
	font-size: 16px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;


}